body {
    font-size: 15px;
    line-height: 22px;
    color: black;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}
.main-header {
    background-color:#eeeeee;
}
.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.logo-header {
    float: left;
    width: 140px;
    margin-right:180px;
}
.main-navigation {
    float: left;
    width: 400px;
    margin-right: 60px;
}
.user-block {
    float:right;
    width: 100px;
    margin-top: 24px;
}
.main-navigation li {
    display: inline-block;
    list-style: none;
    padding: 10px;
    vertical-align: middle;
}
.main-navigation a {
    text-decoration: none;
}
.slider {
    background-color:#eeeeee;
}
.index-page {
    padding-bottom: 80px;
   
}
.index-page-promo {
    float: left;
    width: 380px;
    margin-right: 160px;
    
}
.index-page-pic {
    float: right;
    width: 340px;
}
.block-services {
    margin-top: 80px;
    padding-bottom: 60px;
}
.services-item {
    float: left;
    width: 240px;
    margin-right: 80px;
}
.services-item:nth-child(3) {
    margin-right: 0px;
}
.services-desc {
    width: 240px;
}
.index-content {
    padding-bottom: 72px;
}
.index-content-left {
    float: left;
    width: 620px;
}
.index-content-right {
    float: right;
    width: 240px;
    margin-left: 20px; 
}
.partners {
    margin: 0 -38px;
    padding-top: 44px;
    padding-bottom: 54px;
}
.partners-logo {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 220px;
    margin: 0 38px;
}
.partners-logo:nth-child(3) {
    margin-right: 0px;
}    
.map-image {
    position: relative;
}
.address-block {
    position:absolute;
    top: 0px;
    width: 250px;
    height: 240px;
    margin-top: 80px;
    margin-left: 0px;
    background-color: white;
}
.footer-main {
    padding: 0px;
    padding-top:74px; 
}
.footer-social {
    float:left;
    margin-right: 80px;
    width: 240px; 
}
.social-promo {
    float: right;
    width: 560px;
}
/*catalog*/
.title-header h1 {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    margin-left: 266px;
    margin-right: 280px;
}
.main {
    padding-top: 80px;
}
legend {
    font-size: 18px;
    line-height: 30px;
}
.sidebar {
    float: left;
    width: 240px;
    margin-right: 40px;
}

.gallery-filter li {
    display: inline-block;
    vertical-align: middle;

}
.gallery {
    float: right;
    width: 580px;
}
.gallery-main {
    margin-left: 20px;
}
.gallery-item {
    display: inline-block;
    width: 240px;
    height: 270px;
    margin-right: 60px;
    margin-bottom: 80px;
    vertical-align: top;
}
.gallery-item:nth-child(even) {
    margin-right: 0px;
}
.gallery-pages li {
    display: inline-block;
    vertical-align: middle;
}