body {
    font-size: 15px;
    line-height: 22px;
    color: rgb(0,0,0);
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
h1, h2, p {
    font-weight: 500; 
}
.main-header {
    background-color:rgb(238, 238, 238);
}
.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.logo-header {
    float: left;
    width: 140px;
    padding-top: 27px;
    margin-right: 180px;
}
.main-navigation {
    float: left;
    width: 400px;
    padding-top: 54px;
}
.main-navigation-list {
    margin: 0;
    padding: 0;
    padding-left: 2px;
    list-style: none;
    font-size: 0;
}
.main-navigation-list li {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    margin-right: 45px;
}

.main-navigation-list li:last-child {
    margin-right: 0;
}

.main-navigation-list a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 14px;
    color: rgb(0, 0, 0);
}
.main-navigation-list .active {
    position: relative;
    background: none;
}
.main-navigation-list .active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(251, 86, 90)
}
.main-navigation-list a:hover, .basket:hover {
    color: rgb(251, 86, 90)
}
.main-navigation-list a:active, .basket:active {
    color: rgb(166, 166, 166)
}
.user-block {
    float: right;
    max-width: 100px;
    margin-left: 60px;
    padding-top: 54px;
}
.basket {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0)
}
.basket::before {
    content: "";
    position: absolute;
    top:4px;
    left: -30px;
    width: 18px;
    height: 18px;
    background-image: url(../img/spr.png);
    background-position: -10px -9px;
}
.slider {
    position: relative;
    background-color:rgb(238,238,238);
    padding-top: 37px;
    overflow: hidden;
    min-height: 310px;
    margin: 0 auto;
}
.slider input[type="radio"] {
    display: none;
}
.slider-controls {
    position: absolute;
    bottom: 82px;
    left: 50%;
    z-index: 10;
    width: 200px;
    margin-left: -110px;
    text-align: center;
}
.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    vertical-align: top;
    background: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.slide {
    min-height: 310px;
    background-repeat: no-repeat;
    background-position: 100% 10px;
}
.slide-text {
    width: 500px;
    padding: 30px 0;
}
.slide-title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 3px;
}
.slide-text p {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
}

.slide-btn {
    display: block;
    width: 220px;
    margin-top: 27px;
    padding: 8px 10px;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background: #fb565a;
    border-radius: 3px;
}
.slide:nth-child(1) {
    background-image: url("../img/header-image-1.png");
}

.slide:nth-child(2) {
    background-image: url("../img/header-image-2.png");
    background-position: 98% 15px;
}

.slide:nth-child(3) {
    background-image: url("../img/header-image-3.png");
    background-position: 99% -9px;
}
.slide {
    display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}
/*.slider-promo {
    float: left;
    width: 380px;
    margin-right: 160px;
}
.slider-promo-title {
    margin: 0;
    margin-top: 20px;
    font-size: 36px;
    line-height: 36px;
}
.slider-promo p {
    margin-top: 18px;
    font-size: 16px;
    line-height: 22px;
}
.header-btn {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin-top: 12px;
    padding: 10px 70px;
    background-color:rgb(251, 86, 90);
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255)
}
.slider-picture {
    float: right;
    width: 338px;
    height: 231px;
}*/

.block-services {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgb(238, 238, 238) 
}
.services-item {
    float: left;
    width: 240px;
    margin-right: 80px;
}
.services-item:nth-child(3n) {
    margin-right: 0;
}
.picture-services {
    width: 240px;
    height: 124px;
}
.services-desc {
    padding-top: 8px;
}
.services-desc h2 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
.services-desc p {
    padding: 0;
}
.block-btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 39px;
    margin-top: 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.web {
    background-color: rgb(251, 86, 90);
}
.web:hover{
    background-color: rgb(214, 73, 77);
}
.web:active{
    background-color: rgb(182, 53, 56);
}
.apps {
    background-color: rgb(0, 202, 116);
}
.apps:hover {
    background-color: rgb(1, 162, 94);
}
.apps:active {
    background-color: rgb(0, 144, 83);
}
.presentations {
    background-color: rgb(239, 200, 74);
}
.presentations:hover {
    background-color: rgb(214, 174, 44);
}
.presentations:active {
    background-color: rgb(192, 155, 36);
}
.index-content {
    padding-top: 41px;
    padding-bottom: 34px;
    border-bottom: 2px solid rgb(238, 238, 238) 

}
.index-content-left {
    float: left;
    width: 620px;
}
.about-heading {
    margin:0;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 2px;
    font-size: 36px;
    line-height: 36px;
}
.about-company p {
    padding-right: 10px;
    padding-bottom: 27px;
    font-size: 16px;
}
.list-title {
    font-size: 16px;
    text-transform: uppercase;
}
.content-list-preview {
    padding-top: 7px;
}
.content-list-preview li {
    padding-bottom: 22px;
}
.index-content-right {
    float: right;
    width: 240px;
    margin-left: 20px; 
}
.content-right-logo {
    padding-top: 19px;
    padding-left: 30px;
}
.right-logo-sub {
    display: block;
    font-size: 16px;
    line-height: 8.56px;
    text-transform: uppercase;
    padding-left: 49px;
    padding-top: 27px;
    padding-bottom: 71px;
}
.partners {
    padding-top: 35px;
    padding-bottom: 23px;
    font-size: 0px;
    border-bottom: 2px solid rgb(238, 238, 238);
}
.partners-logo {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    width: 220px;
    margin-right: 94px;
    padding-left: 5px;
}
.partners-logo:first-child {
    padding-top: 32px;
    padding-left: 10px;
}
.partners-logo:last-child {
    padding-top: 10px;
    padding-left: 8px;
    margin-right: 0;
}
.partners-logo-link img {
    opacity: 0.2;
}
.partners-logo-link img:hover, .partners-logo-link img:active {
    opacity: 1;
}    
.map-image {
    margin: 85px auto 0 auto;
    width: 1119px;
    height: 416px;
    position: relative;
}
.address-block {
    position: absolute;
    top: 86px;
    width: 250px;
    height: 240px;
    left: 117px;
    /* margin-top: 86px; */
    /* margin-left: 0; */
    background-color: rgb(255, 255, 255);
}
.address-block span {
    display: block;
    font-size: 16px;
    line-height: 30px;
    margin-top: 26px;
    padding: 0 22px;
    text-transform: uppercase;
}
.address-block p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    padding: 0 23px;
    color: #a3a3a3;
}
.address-block .phone {
    margin-top: 19px;
    margin-bottom: 30px;
}
.address-block .btn-address {
    display: inline-block;
    vertical-align: top;
    width: 202px;
    height: 38px;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0px 0px 0px;
    background-color: #fb565a;
    color: #ffffff;
    border-radius: 3px;
    margin-left: 26px;
    box-sizing: border-box;
}
.footer-main {
    padding-top: 75px;
    padding-bottom: 67px;
}
.footer-social {
    float: left;
    margin-right: 80px;
    width: 240px; 
}
.social-btn {
    display: inline-block;
    vertical-align: top;
    background-color: #e1e1e1;
    width: 30px;
    min-height: 30px;
    border-radius: 30px;
    border: 15px solid #e1e1e1;
    margin-right: 26px;
    margin-top: 2px;
    /* margin-left: 3px; */
    font-size: 0px;
    background-image: url("../img/spr.png");
    background-repeat: no-repeat;
}
.social-btn-vk {
    background-position: -116px -1px;
}
.social-btn-fb {
    background-position: -35px -7px;
}
.social-btn-inst {
    background-position: -71px -6px;
}
.social-btn:hover {
    background-color: #fb565a;
    border-color: #fb565a;
}
.social-btn:active {
    background-color: #d6494d;
    border-color: #d6494d;
}
.social-btn:last-child {
    margin-right: 0;
}
.social-promo {
    float: right;
    width: 560px;
}
.title-promo {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
}
.social-promo p {
    margin: 0;
    padding-top: 8px;
    font-size: 16px;
    line-height: 22px;
}
/*catalog*/
.secondary-header {
    padding-top: 57px;
    background-color:rgb(238, 238, 238);
}
.title-header {
    padding-left: 109px;
    padding-right: 120px;
    padding-bottom: 79px; 
}
.title-header h1 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}
.main-catalog {
    padding-top: 77px;
}
.sidebar {
    float: left;
    width: 240px;
    margin-right: 40px;
}
fieldset {
    border: none;
    padding: 0;
    margin-left: -1px;
    margin-bottom: 31px;
}
fieldset:nth-child(2) {
    margin-bottom: 40px;
}
legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
fieldset input[type="radio"], fieldset input[type="checkbox"] {
    display: none;
}
/*Фильтр цены*/
.range-filter {
    width: 240px;
    margin: 14px auto;
}
.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}
.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}
.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
     left: 20px;
}
.range-controls .toggle-max {
     left: 160px;
}
.price-controls {
     font-size: 0;
}
.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
    text-transform: uppercase;
}
.max-price {
    text-align: right;
}
.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 6px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #f1f1f1;
}
/*Форма после фильтра*/
fieldset:nth-child(2) label {
    display: block;
    padding: 14px 0px 4px 36px;
}
fieldset:nth-child(3) label {
    display: block;
    padding: 14px 0px 4px 36px;
}
.sidebar input[name="show"] {
    display: block;
    padding: 5px 5px 5px 7px;
    margin-top: 58px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    width: 155px;
    background-color: #f1f1f1;
}
/*Каталог товаров и цен*/
.gallery-filter {
    padding-top: 5px;
    padding-bottom: 16px;
}
.gallery-filter-title {
     margin-right: 40px;
}
.gallery-filter ul {
    padding: 0;
    padding-left: 18px;
    margin: 0;
    font-size: 0;
}
.gallery-filter li {
    display: inline-block;
    vertical-align: top;
}
.gallery-filter span {
    padding-left: 0;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}
.gallery-filter a {
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px dashed rgb(0, 0, 0);
    margin-right: 45px;
}
.gallery {
    float: right;
    width: 580px;
}
.gallery-main {
    margin-left: 20px;
}
.gallery-item {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 270px;
    z-index: 10;
    margin-right: 75px;
    margin-bottom: 79px;
    vertical-align: top;
}
.gallery-item:nth-child(even) {
    margin-right: 0;
}
.gallery-preview {
    border: 30px solid rgb(241, 241, 241);
    border-radius: 5px; 
}
.gallery-preview::before {

}
.gallery-preview img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 8;

}
.gallery-inner {
    position: absolute;
    width: 200px;
    height: 200px;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.gallery-inner {
    display: none;
    
}
.gallery-item:hover .gallery-inner{
    display: block;
}

.gallery-inner h2 {
    font-size: 18px;
    line-height: 8.56px;
    text-align: center;
    margin: 21px;
    margin-top: 39px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.gallery-inner:nth-child(4) h2 {
    line-height: 24px;
}
.gallery-inner p {
    margin: 0px 20px;
    padding-bottom: 26px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
.gallery-inner-btn {
    margin-left: 30px;
    padding: 13px 33px;
    font-size: 18px;
    line-height: 8.56px; 
}
.gallery-pages {
    padding-top: 12px;
    padding-left: 20px;
}
.gallery-pages-list {
    font-size: 0;
    margin: 0;
    padding: 0;
}
.gallery-pages li {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    margin-right: 11px;
}
.gallery-btn {
    padding: 10px 14px;
    border: 1px solid rgb(241, 241, 241);
}
.gallery-btn-next {
    padding: 10px 35px;
    border: 1px solid rgb(241, 241, 241);
}
.gallery-pages a {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;

}